<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100" />
    <target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message} ${callsite:className=true:methodName=true:skipFrames=1:fileName=true}"
            fileName="${basedir}/log/${shortdate}.log" />
    <target name="console" xsi:type="Console"
            layout="${longdate} ${logger} ${message} ${callsite:className=true:methodName=true:skipFrames=1:fileName=true}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>